body {
    background-color: #656565;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    background-color: #4c4b4b;
    color: #f04e00;
    list-style: none;
    width: 60px;
    height: 60px;
}

.menu:hover {
    transition: 2s;
    background-color: white;
}

.text {
    position: relative;
    bottom: 480px;
}

.popuptext {
    list-style: none;
    width: 120px;
    height: 60px;
}